/* ==================================================
                      CHECK BOX
====================================================*/
/* скрываем стандратный чек бокс */
.ch-box-cont input[type="checkbox"] {
  visibility: hidden;
  width: 0;
  height: 0;
}
/* контейнер */
.ch-box-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
/* круг */
.ch-box-cont label{
  background-color: transparent;
  border: 1px solid var(--border-primary-color);
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  width: 16px;

  display: flex;
  justify-content: center;
}
/* галочка */
.ch-box-cont label:after {
  content: "";
  border: 2px solid var(--background-color);
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  height: 3px;
  width: 8px;
  margin-top: 4px;
  opacity: 0;
}

/* checked state background circle*/
.ch-box-cont input[type="checkbox"]:checked + label {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}
/* checked state show check*/
.ch-box-cont input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.ch-box-label:hover{
  cursor: pointer;
}





/* ==================================================
                      SELECT
====================================================*/
.custom-select {
  width: 100%;
  height: 64px;
  min-width: 350px;
  position: relative;
}

select{
  appearance: none;
  height: 100%;
  width: 100%;
  border: 1px solid var(--border-primary-color);
  border-radius: 32px;
  cursor: pointer;
  padding-left: 32px;
}

.custom-select::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 20px;
  width: 24px;
  height: 24px;
  background-image: url("svg/arrowdown2.svg");
  pointer-events: none;
}



/* .custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
} */
