@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ==================================================
                            BASIC STYLE
====================================================*/
body{
    font-family: 'Nunito Sans', sans-serif;
}

:root{
    --background-color: #fff;
    --primary-color: #717171;
    --secondary-color: #581ADB;
    --secondary-shadow-color:#581ADB59;
    --box-black-shadow: rgba(0,0,0,0.36); 
    --black-color: #222222;
    --white-text-color: #FFFFFF;
    --border-primary-color: #DDDDDD;
}
/* Заголовки */
.Title-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: var(--secondary-color);
    text-transform: capitalize;
}

.Sub-title-primary,
.Sub-title-secondary{
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
}
.Sub-title-primary {color: var(--primary-color);}
.Sub-title-secondary {color: var(--secondary-color);}

/* Обычный текст */
.simple-black-text,
.simple-primary-text,
.simple-secondary-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.simple-primary-text{ color: var(--primary-color); }
.simple-secondary-text{ color: var(--secondary-color); }
.simple-black-text {color: var(--black-color);}

.upper-text{
    text-transform: uppercase;
}
.bold-text{
    font-weight: 700;
}
.fw-600{
    font-weight: 600;
}
.fw-7{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.text-20{
    font-size: 20px;
}

.fs-36{font-size: 36px;}

.fc-se{color: var(--secondary-color);}
.fc-pr{color: var(--primary-color);}

.ta-center{text-align: center;}
.ta-end{text-align: end;}



.sect-title-marg{
    margin: 48px 0 24px 0;
    text-align: center;
}

.flex-row-btw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-start{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.flex-col-cent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* ICON */
.cust-icon{
    margin-right: 8px;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
/* цвет иконки */
.cust-icon path{
     fill: var(--background-color); /* иконка внутри */
     stroke: var(--primary-color); /* граница иконки */
}
/* прямоугольник иконки */
.cust-icon rect{
    width: 24px;
    height: 24px;
}


/* BUTTON */
.btn-small-book{
    background-color: transparent;
    color: var(--white-text-color);
    border: 2px solid var(--secondary-color);
    transition: transform 0.3s ease;
}
.btn-fill{
    background-color: var(--secondary-color);
}
.btn-shadow{
    box-shadow: 0px 0px 10px 5px var(--secondary-shadow-color);
}
.btn-black-text-color{
    color: var(--black-color);
}
.btn-secondary-text-color{
    color: var(--secondary-color);
}

.btn-small-book:hover,
.btn-big-book:hover {
    transform: scale(1.03);
}

.btn-big-book{
    height: 72px;
    width: 181px;
    border-radius: 36px;
    font-size: 24px;
    font-weight: 700;
}
.btn-small-book{
    height: 40px;
    width: 112px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
}




.grid-text-icon{
    display: grid;
    width: min-content;
    grid-template-columns: max-content 24px;
    gap: 8px;
}
.grid-icon-text{
    width: 100%;
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 8px;
}



/* ==================================================
                            HEADER
====================================================*/
header{
    height: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    border-bottom: 1px solid var(--border-primary-color);
}
/* Title */
header h3 a{
    color: var(--secondary-color);
    text-decoration: none;
}
header h3{
    font-size: 26px;
    font-weight: 800;
}

/* right panel */
header .Sign{
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-between;
}

/* на каждый элемент */
header .Sign div{
    border-radius: 30px;
    margin-left: 10px;
    border: 1px solid var(--border-primary-color);
    transition:
        box-shadow 1s ease,
        scale 0.5s ease;
}

/* Language */
header .Sign .lang{
    border-radius: 50%;
    padding: 0px;
    height: 32px;
    width: 32px;
    border: none;
    background: url(img/Component\ 1.svg) no-repeat;
}
header .Sign .lang:hover{
    transition: 0.5s;
    scale: 1.25;
}

/* Register */
header .Sign .Reg{
    padding: 9px 16px 9px 16px;
}
header .Sign .SignIn:hover,
header .Sign .Reg:hover{
    transition: 1s;
    box-shadow: 0px 4px 4px 2px var(--border-primary-color);
}

/* Sign in */
header .Sign .SignIn img{
    padding-left: 20px;
    padding-right: 10px;
}
header .Sign .SignIn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0px 6px 16px;
}
                                        
header .Sign i{                     /* это что? */
    padding-left: 20px; 
}


/* ==================================================
                PROFILE TABS IN MENU PROFILE
====================================================*/
.nav-profile{
    background: none;
    padding: 36px 0;
    height: auto;
}

.profile-tabs{
    flex-basis: 100%;
    display: flex;
    overflow-x: scroll;
}
.profile-tabs p{
    text-wrap: nowrap;
}

.profile-item-container{
    display: flex;
}
.profile-item-back,
.profile-item{
    display: grid;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid var(--border-primary-color);
    align-items: center;
    transition: box-shadow 1s;
}
/* BACK */
.profile-back-cont{
    width: 12.5%;
    min-width: max-content;
}
.profile-item-back{
    width: max-content;
    grid-template-columns: 24px 1fr;
    gap: 8px;
    padding: 4px 16px 4px 4px;
    margin: 0 20px 0 32px;
}

.profile-item-back img{
    align-self: center;
    justify-self: center;
}
/* OTHER */
.profile-item{
    grid-template-columns: 1fr 24px;
    padding: 4px 4px 4px 16px;
    margin-right: 32px;
}


.hoverable-pr-item:hover{
    box-shadow: 0px 4px 4px 2px var(--border-primary-color);
    transition: 1s;
    cursor: pointer;
}
.active-pr-item{
    border-color: var(--secondary-color);
}
.active-pr-item p{
    color: var(--secondary-color);
}
.active-pr-item svg rect{
    fill: var(--secondary-color);
}




/* ==================================================
                            NAVIGATION
====================================================*/

nav{
    display: flex;
    height: 220px;
    background: url(img/Rectangle\ 4.png);
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
/* Panel */
nav .panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    margin: -30px;
    position: absolute;
    width:70%;
    border: 1px solid var(--border-primary-color);
    Height:64px;
    background-color: var(--background-color);

    transition: box-shadow 1s ease;
}
nav .panel:hover{
    transition: 1s;
    box-shadow: 0px 4px 4px 2px var(--border-primary-color);
}
/* container */
nav .panel div{
    margin-left: 50px;
}
nav .panel div span{
    margin-right: 5px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--black-color);
}
/* separator */
nav .panel .br{
    height: 80%;
    border-left: 1px solid var(--border-primary-color);
}
nav .panel div p{
  
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--black-color);
}
/* контейнер кнопки поиска */
nav .panel div .search{
    display: flex;
    background-color: var(--secondary-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
  transition: transform  0.3s ease; 
}

nav .panel div .search:hover {
  transform: scale(1.1);
}

/* Иконка поиска */
nav .panel .search svg{
    width: 22px;
    height: 22px;
}
nav .panel .search svg path{
    fill: var(--secondary-color); /*цвет внутри окошка*/
    stroke: var(--background-color); /*цвет бордера*/
}
nav .panel span{
  white-space: nowrap;

}

/* ==================================================
                            BOOKING
====================================================*/
.Booking{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 184px;
    background-color: var(--background-color);
}
.Booking div img{
    width: 25px;
    height: 25px;
}
.Booking div{
    padding-top: 40px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Booking div p
{
  margin-top: 5px;
}
.Booking div:hover p {
    color: var(--black-color); 
}

.Booking img {
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.Booking .first:hover img,
.Booking .second:hover img,
.Booking .third:hover img {
  filter: brightness(0) saturate(100%) invert(0);
  transform: scale(1.1);
  opacity: 0.7;
}


/* TEXT */
.Booking p.simple-primary-text{
    transition: color 0.5s ease;
  color: var(--primary-color);
}
.Booking p.simple-primary-text:hover{
    color: var(--black-color);
    transition: 0.5s ease;
}
/* ICON */
.cust-icon{
    margin-right: 8px;
    width: 24px;
    height: 24px;
}
/* цвет иконки */
.cust-icon path{
     fill: var(--background-color); /* иконка внутри */
     stroke: var(--primary-color); /* граница иконки */
}
/* прямоугольник иконки */
.cust-icon rect{
    width: 24px;
    height: 24px;
}

/* ==================================================
                        SMALL HOTELS CARD
====================================================*/
.sm-hotel-card{
    display: flex;
    flex-direction: column;
    line-height: 25px;
    padding: 10px;
    position: relative;
}
.sm-hotel-card .star{
    position: absolute;
    padding: 10px;
}
.sm-hotel-card .GDots{
    display: flex;
    position: absolute;
    width: 70px;
    justify-content: space-between;
}
.sm-hotel-card .GDots div{
    position: relative;
    top:220px;
    left: 100px;
    background: var(--primary-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.sm-hotel-card i{
    color: var(--secondary-color);
}
.sm-hotel-card .GDots .Selected{
    background-color: rgb(255, 255, 255);
}


/* ==================================================
                        COMMENT
====================================================*/
.Comment{
    width: 100%;
    height: 208px;
    border-radius: 8px;
    border: 1px solid var(--border-primary-color);
    padding: 16px 32px;
}

.Comment .head-comm{
    height: 40%;
}

.Comment .flex-row-btw{
    margin-bottom: 16px;
    /* выравнивание даты и элементов в верхней части */
    align-items: start;
}

.Comment img{
    margin-right: 12px;
}

.Comment .Comment-Name{
    font-weight: 700;
}

.Comment .main-info{
    display: flex;
    flex-direction: row;
    height: 60%;
    padding-bottom: 32px;
}

.Comment i{
    margin-right: -8px;
    margin-left: 8px;
    color: var(--primary-color);
}

.Comment .main-info p {
    height: 100%;
    overflow: hidden;
}


/* ==================================================
            SMALL SQUARE CARD WITH ICON AND TEXT
====================================================*/
.small-card-icon-text{
    width: 100%;
    height: 208px;
    border-radius: 14px;
    border: 1px solid var(--border-primary-color);

    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: 16px;
}

.small-card-icon-text img,
.small-card-icon-text svg{
    align-self: center;
    justify-self: center;
}



/* ==================================================
                            FOOTER
====================================================*/
footer{
    margin-top: 300px;
    height: 464px;
    background-color: white;
    border-top:1px solid #DDDDDD;
}

footer .ftr-container{
    color: #717171;
    padding-top: 2%;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.ftr-container ul{
    list-style-type:none;
    
}
.ftr-container li{
    margin-bottom: 10px;
}
.ftr-container a{
    text-decoration: none;
    color: var(--primary-color);
}
