@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ==================================================
                            BASIC STYLE
====================================================*/
body{
    font-family: 'Nunito Sans', sans-serif;
}

:root{
    --background-color: #fff;
    --primary-color: #717171;
    --secondary-color: #581ADB;
    --secondary-shadow-color:#581ADB59;
    --box-black-shadow: rgba(0,0,0,0.36); 
    --black-color: #222222;
    --red-color:#ee0039;
    --white-text-color: #FFFFFF;
    --border-primary-color: #DDDDDD;
}
/* ==================================================
                        TYPOGRAPHY    
====================================================*/
a{
    text-decoration: none;
}
/* HEADER */
.header-title{
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--black-color);
}
.header-title a{
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--secondary-color);
}
.header-button-text{
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
/* NAVIGATION */
nav .panel p{
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
/* MAIN */
.main-title{
    color: var(--secondary-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
}


/* SMALL HOTELS CARD */
.hoteles-title{
    color: var(--black-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.hotels-descr{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.hotels-price{
    color: var(--black-color);
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.simple-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color);
}

.text-title-block{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.text-title-block-content{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    margin: 48px 0 24px 0;
}

/* FONT WEIGHT */
.fw-1{font-weight: 100;}
.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}
.fw-9{font-weight: 900;}
/* FONT SIZE */
.fs-14{font-size: 14px;}
.fs-16{font-size: 16px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-22{font-size: 22px;}
.fs-24{font-size: 24px;}
.fs-26{font-size: 26px;}
.fs-28{font-size: 28px;}
.fs-30{font-size: 30px;}
.fs-32{font-size: 32px;}
.fs-34{font-size: 34px;}
.fs-36{font-size: 36px;}
/* FONT COLOR */
.fc-pr{color: var(--primary-color);}
.fc-sc{color: var(--secondary-color);}
.fc-bl{color: var(--black-color);}
/* TEXT ALIGN */
.ta-s{text-align: start;}
.ta-c{text-align: center;}
.ta-e{text-align: end;}
/* TEXT TRANSFORM */
.tt-up{text-transform: uppercase;}


/* ==================================================
                            ICON
====================================================*/
.icon-bl,
.cust-icon{
    margin-right: 8px;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}
/* цвет иконки */
.cust-icon path{
     fill: var(--background-color); /* иконка внутри */
     stroke: var(--primary-color); /* граница иконки */
}
/* прямоугольник иконки */
.cust-icon rect{
    width: 24px;
    height: 24px;
}
.icon-bl{
     stroke: var(--black-color); /* граница иконки */
}

/* ==================================================
                            BUTTON (REMOVE)
====================================================*/
.btn-small-book{
    background-color: transparent;
    color: var(--white-text-color);
    border: 2px solid var(--secondary-color);
    transition: transform 0.3s ease;
}
.btn-fill{
    background-color: var(--secondary-color);
}
.btn-shadow{
    box-shadow: 0px 0px 10px 5px var(--secondary-shadow-color);
}
.btn-black-text-color{
    color: var(--black-color);
}
.btn-secondary-text-color{
    color: var(--secondary-color);
}

.btn-small-book:hover,
.btn-big-book:hover {
    transform: scale(1.03);
}

.btn-big-book{
    height: 72px;
    width: 181px;
    border-radius: 36px;
    font-size: 24px;
    font-weight: 700;
}
.btn-small-book{
    height: 40px;
    width: 112px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
}
/* ==================================================
                        CONTAINERS
====================================================*/
.grid-text-icon{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 24px;
    gap: 8px;
}
.grid-icon-text{
    width: 100%;
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 8px;
}

.flex-row-btw{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-row-start{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.flex-col-cent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* ==================================================
                            HOVER
====================================================*/
.hoverable-1{
    transition: box-shadow 0.5s;
}
.hoverable-1:hover{
    box-shadow: 0px 4px 4px 2px var(--border-primary-color);
    transition: 0.5s;
    cursor: pointer;
}

.hoverable-2{
    transition: transform 0.5s;
}
.hoverable-2:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}


/* ==================================================
                            HEADER
====================================================*/
header{
    height: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    border-bottom: 1px solid var(--border-primary-color);
}

/* right panel */
header .Sign{
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-between;
}

/* Language */
header .Sign a.lang{height: 32px;width: 32px;}

/* на каждый элемент */
header .Sign a.Reg,
header .Sign a.SignIn{
    border-radius: 30px;
    margin-left: 10px;
    border: 1px solid var(--border-primary-color);
}
header .Sign .Reg{padding: 6px 16px 6px 16px;}
header .Sign .SignIn{padding: 6px 6px 6px 16px;}


/* ==================================================
                            NAVIGATION
====================================================*/
nav{
    display: flex;
    height: 220px;
    background: url(img/Back_img_Main.png);
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
/* Panel */
nav .panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    margin: -30px;
    position: absolute;
    width:70%;
    border: 1px solid var(--border-primary-color);
    Height:64px;
    background-color: var(--background-color);
}
/* container */
nav .panel div{
    margin-left: 50px;
}
nav .panel div span{
    margin-right: 8px;
    margin-left: 8px;
}
nav .panel span{
     white-space: nowrap;
}
/* separator */
nav .panel .br{
    height: 80%;
    border-left: 1px solid var(--border-primary-color);
}
nav .panel div p{
    display: flex;
    align-items: center;
}
/* контейнер кнопки поиска */
nav .panel div .search{
    display: flex;
    background-color: var(--secondary-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}
/* Иконка поиска */
nav .panel .search svg{
    width: 22px;
    height: 22px;
    fill: var(--secondary-color); /*цвет внутри окошка*/
    stroke: var(--background-color); /*цвет бордера*/
}

/* ==================================================
                            BOOKING
====================================================*/
.Booking{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 184px;
    background-color: var(--background-color);
}
.Booking div img{
    width: 25px;
    height: 25px;
}
.Booking div{
    padding-top: 40px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Booking div p{margin-top: 5px;}
.Booking div:hover p {color: var(--black-color); }

.Booking img {
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}
.Booking .first:hover img,
.Booking .second:hover img,
.Booking .third:hover img {
  filter: brightness(0) saturate(100%) invert(0);
  transform: scale(1.1);
  opacity: 0.7;
}
/* TEXT */
.Booking p.simple-text{transition: color 0.5s ease;}
.Booking p.simple-text:hover{
    color: var(--black-color);
    transition: 0.5s ease;
}


/* ==================================================
                PROFILE TABS IN MENU PROFILE
====================================================*/
.nav-profile{
    background: none;
    padding: 36px 0;
    height: auto;
}

.profile-tabs{
    flex-basis: 100%;
    display: flex;
    overflow-x: auto;
    align-items: center;
    height: auto;
}
.profile-tabs p{
    text-wrap: nowrap;
}

.profile-item-container{
    display: flex;
    height: 100%;
}
.profile-item-back,
.profile-item{
    display: grid;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid var(--border-primary-color);
    align-items: center;
    margin: 0 0 8px 0;
    transition: box-shadow 1s;
}
/* BACK */
.profile-back-cont{
    width: 12.5%;
    min-width: max-content;
}
.profile-item-back{
    width: max-content;
    grid-template-columns: 24px 1fr;
    gap: 8px;
    padding: 4px 16px 4px 4px;
    margin: 0 20px 8px 32px;
}

.profile-item-back img{
    align-self: center;
    justify-self: center;
}
/* OTHER */
.profile-item{
    grid-template-columns: 1fr 24px;
    padding: 4px 4px 4px 16px;
    margin-right: 32px;
}


.hoverable-pr-item:hover{
    box-shadow: 0px 4px 4px 2px var(--border-primary-color);
    transition: 1s;
    cursor: pointer;
}
.active-pr-item{
    border-color: var(--secondary-color);
}
.active-pr-item p{
    color: var(--secondary-color);
}
.active-pr-item svg rect{
    fill: var(--secondary-color);
}








/* ==================================================
                        SMALL HOTELS CARD
====================================================*/
.sm-hotel-card{
    display: flex;
    flex-direction: column;
    line-height: 25px;
    padding: 10px;
    position: relative;
}
.sm-hotel-card .star{
    position: absolute;
    padding: 10px;
}
.sm-hotel-card .GDots{
    display: flex;
    position: absolute;
    width: 70px;
    justify-content: space-between;
}
.sm-hotel-card .GDots div{
    position: relative;
    top:220px;
    left: 100px;
    background: var(--primary-color);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.sm-hotel-card i{
    color: var(--secondary-color);
}
.sm-hotel-card .GDots .Selected{
    background-color: rgb(255, 255, 255);
}


/* ==================================================
                        COMMENT
====================================================*/
.Comment{
    width: 100%;
    height: 208px;
    border-radius: 8px;
    border: 1px solid var(--border-primary-color);
    padding: 16px 32px;
}

.Comment .head-comm{
    height: 40%;
}

.Comment .flex-row-btw{
    margin-bottom: 16px;
    /* выравнивание даты и элементов в верхней части */
    align-items: start;
}

.Comment img{
    margin-right: 12px;
}

.Comment-Name{
    color: var(--black-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.Comment-date,
.Comment-hotel-name{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.Comment-text {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    max-height: 66px; /* Количество строк * высоту строки (22px) */
    overflow: hidden;
}


.Comment .main-info{
    display: flex;
    flex-direction: row;
    height: 60%;
}

.Comment i{
    margin-right: -8px;
    margin-left: 8px;
    color: var(--primary-color);
}


/* ==================================================
            SMALL SQUARE CARD WITH ICON AND TEXT
====================================================*/
.small-card-icon-text{
    width: 100%;
    height: 208px;
    border-radius: 14px;
    border: 1px solid var(--border-primary-color);

    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: 16px;
}

.small-card-icon-text img,
.small-card-icon-text svg{
    align-self: center;
    justify-self: center;
}



/* ==================================================
                            FOOTER
====================================================*/
footer{
    margin-top: 300px;
    height: 464px;
    background-color: white;
    border-top:1px solid #DDDDDD;
}

footer .ftr-container{
    color: #717171;
    padding-top: 2%;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.ftr-container ul{
    list-style-type:none;
    
}
.ftr-container li{
    margin-bottom: 10px;
}
.ftr-container a{
    text-decoration: none;
    color: var(--primary-color);
}
