@keyframes appear{
    from{
      opacity:0;
      visibility:hidden;
    }
    to{
      opacity:1;
      visibility:visible;
    }
  }
  @keyframes disappear{
    from{
      opacity:1;
      visibility:visible;
    }
    to{
      opacity:0;
      visibility:hidden;
    }
  }
/* section */
section{
    width: 75%;
    margin: auto;
}

/* ==================================================
                        HOTELS
====================================================*/
.Hotels{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ==================================================
                        COMMENT
====================================================*/
.Comment-sect .Comment{
    flex-basis: 31%;
    border-color: #94D0B4;
}


/* ==================================================
                        SAFE WITH US
====================================================*/
.Safe{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}


/* ==================================================
                        BE OUR REGULAR
====================================================*/
.BeOurRegular
{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.BeOurRegular .box{
    margin-left: 50px;
    padding: 25px;
    border: 1px solid var(--border-primary-color);
    border-radius: 13px;
}


/* ==================================================
                        BUTTON
====================================================*/
.butWrap{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.butWrap button{
    width: 256px;
    height: 64px;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 43px 10px var(--secondary-shadow-color);
    padding: 10px;
    border-radius: 60px;
    color: var(--white-text-color);
    font-size: 16px;
    border: none;

    transition: width 0.2s ease;
}

.butWrap button:hover{
    width: 265px;
    transition: 0.3s ease;
}

.butWrap img{
    margin: 0 15px 0 15px;
}
.butWrap #Sec{

 transform: scaleX(-1);
}