/* section */
section{
    width: 75%;
    margin: auto;
}
/* ==================================================
                        HOTELS
====================================================*/
#adapt{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
/* ==================================================
                        COMMENT
====================================================*/
.Comment-sect{
    width: 100%;
}
.Comment-sect .Comment{
    flex-basis: 30%;
    border-color: #94D0B4;
}
/* ==================================================
                        SAFE WITH US
====================================================*/
.Safe{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}
/* ==================================================
                        BE OUR REGULAR
====================================================*/
.BeOurRegular{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.BeOurRegular .box{
    margin-left: 50px;
    padding: 25px;
    border: 1px solid var(--border-primary-color);
    border-radius: 13px;
}
/* ==================================================
                        BUTTON
====================================================*/
.butWrap{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.butWrap button{
    width: 256px;
    height: 64px;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 43px 10px var(--secondary-shadow-color);
    padding: 10px;
    border-radius: 60px;
    color: var(--white-text-color);
    font-size: 16px;
    border: none;
    transition: width 0.2s ease;
}
.butWrap button:hover{
    width: 265px;
    transition: 0.3s ease;
}
.butWrap img{margin: 0 15px 0 15px;}
.butWrap #Sec{transform: scaleX(-1);}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .slider-container {
    overflow: hidden;
    width: 100%;
  }
  
  .slider {
    display: flex;
    transition: transform 1s ease-in-out;
  }
  
  .sm-hotel-card {
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .slider-container {
    display: none; /* Показываем слайдер при условии */
  }
  .sm-hotel-card{
    width: 100%;
  }

  @media only screen and (max-width: 1600px){
    
    #adapt{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

  }
  @media only screen and (max-width: 1200px){
    
    #adapt{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    .sm-hotel-card{
        width: 300px;
    }

  }

@media only screen and (max-width: 950px){


 
    

    #adapt{
        display: none;
    }
    #adapt2{
        display: none;
    }
    .container{
        width: 100% !important;
    }
    .container .Comment-sect{
        width: 100%;
    }


    .slider-container {
        display: block; /* Показываем слайдер при условии */
      }
    
      .slider {
        flex-direction: row; /* Горизонтальное расположение слайдов */
      }
    section{
        width: 100% !important;
        margin: auto !important;
    }
    .BeOurRegular{
        flex-direction: column;
        width: 90% !important;
        margin: auto !important;
    }
    .BeOurRegular .wrap img{
        width: 100%;
    }
    .BeOurRegular .box{
        margin: 0;
    }
    .Safe{
        width: 90% !important;
        margin: auto !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 2%;
        grid-row-gap: 2%;
    }
    #last{
        grid-area: 3 / 1 / 4 / 3
    }
}
