*{
    margin: 0;
}
.cross{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-primary-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    left: 93%;
    top: 15%;
}
.back{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-primary-color);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    left: 10%;
    top: 15%;
}
.wrap{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

aside{
    

   margin-right: 25px;
}

aside .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border-primary-color);
    border-radius: 13px;
    padding: 15px;
    margin-bottom: 20px;
}

aside .box .circle-3
{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    margin: 0 1px 0 1px;
}

main{
    width: 75%;
}
main .regBox{
    height: auto;
    border-radius: 13px;
    width: 100%;
    border: 1px solid var(--border-primary-color);
    margin-top: 25px;
    padding-bottom: 30px;
}
main .regBox .header span{
    padding-left: 30px;
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 800;
}
main .regBox .header{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px 0;
    width: 50%;
}
main .regBox .inputWrap{
    display: flex;
    
    align-items: center;
    width: 90%;
    margin:15px auto;
    margin-bottom: 0;
}
main .regBox .wr{
    margin-top: 50px;
    margin-bottom: 50px;
}
main .regBox .inputWrap2{

    display: flex;
  
    width: 90%;
    margin:10px auto;
}
main .regBox .inputWrap2 input{
    width: 25%;
    margin:0;

}
main .regBox .inputWrap3{

    display: flex;
  
    width: 90%;
    margin:10px auto;
}
main .regBox .inputWrap3 input{
    width: 45%;
    margin:0;
}
#small input{
    width: 30%;
}


main .regBox .inputWrap input{
    width: 45%;
    margin:0;
    margin-right: 25px;
}
main .regBox .inputWrap p{
    width: 45%;
   
}
main .regBox .inputWrap .smallWrap{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 0 auto;
    justify-content: center;
}
main .regBox .inputWrap .smallWrap input{
    width: 100%;
    margin-bottom: 15px;
}


#outer-circle {
   border: 2px solid var(--secondary-color);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #inner-circle {

    position: absolute;
    background: var(--secondary-color);
    border-radius: 50%;
    height: 12px;
    width: 12px;
  }

main .circleBox input[type="checkbox"] {
    display: none;
    
}
main .circleBox input[type="checkbox"] + label #inner-circle {
    background-color: white; 
}
  
main .circleBox input[type="checkbox"]:checked + label #inner-circle {
    background-color: var(--secondary-color) 
}
  
main .checkWrap .box{
    
    display: flex;
    width: 45%;
    align-items: center;
    border-radius: 13px;
    padding: 20px;
    border: 1px solid var(--border-primary-color);
}
main .checkWrap .box p{
    margin-left: 35px;
}
main .checkWrap .box p span{
   color: var(--secondary-color);
}
main .checkWrap{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
   
}

main .checkWrap2 .box{
    
    display: flex;
    width: 100%;
  
    align-items: center;
    border-radius: 13px;
    padding: 20px;
    border: 1px solid var(--border-primary-color);
}
main .checkWrap2 .box p{
    width: auto;
    margin-left: 20%;
}
main .checkWrap2 .box p span{
   color: var(--secondary-color);
}
main .checkWrap2{
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
   
}
main .checkWrap2 .box a{
    color:var(--secondary-color);
}
main .checkWrap2 .box .wrap{
    display: flex;
    justify-content: flex-end;
   width: 10px;
}

.butWrap{
    width: 50%;
    margin:50px auto 0px auto;
}
.butWrap button img{
    margin-left: 25px;
}
.butWrap button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
    height: 56px;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 43px 10px var(--secondary-shadow-color);
    padding: 10px;
    border-radius: 60px;
    color: white;
    font-size: 16px;
    border: none;
    margin: 10px;
    transition: width 0.2s ease;
}
.butWrap .b2{
    box-shadow: none;
    background-color: white;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

main .mwrap h2, main .mwrap p{

    display: flex;
    align-items: center;
    margin-top: 10px;
}
main .mwrap h2{
    color:var(--secondary-color)
}
main .mwrap span{
    margin-right: 10px;
}
main .mwrap{
    padding: 25px;
}
main .mwrap .smwrap{
   
    margin-bottom: 20px;
}

main .regBox .header2 span{
    padding-left: 30px;
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 800;
}
main .regBox .header2{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 10px 25px;
    width: 50%;
}


main .TouristHotel{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .TouristHotel h2{
    color: var(--secondary-color);
}
main .TouristHotel i{
    color: var(--secondary-color);
}
main .TouristHotel h2{
    font-size: 32px;
}
main .TouristHotel p{
    margin-bottom: 25px;
}

main .TouristHotel a{
   display: flex;
   align-items: center;
}
main .TouristHotel span{
    margin-left: 10px;
}
@media screen and (min-width:430px) {
    main aside{
        display: none;
    }
}
@media only screen and (max-width: 1000px){

   
    body .cross{
        display: none !important;
    }
    header .Sign{
        display: none !important;
    }
    .wrap{
        width: 100% !important;
        flex-direction: column;
        margin:0;
    }
 
    aside{
        
       display: none;
    }
    main aside{
        width: 90% !important;
        margin: auto !important;
        display: flex;
        justify-content: space-between !important;
        margin-top: 15px !important;
    }
    main aside .box{
        width: 115px;
       
    }
  
 
    .book-cont{
       width: 90% !important;
       margin: auto;
    }
    .book-item img.im-hotel{
        width: 100%;
        align-self: center;
    }
    
    .book-cont .descr{
        width: 90% !important;
        margin: auto;
    }
    main{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    .book-cont .book-item{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
      
    }
    .book-item img.im-hotel{
        width: 100% !important;
        align-self: center !important;
    }






    
    .regBox{
        width: 90% !important;
        margin: auto;
        margin-top: 15px !important;
    }
    .regBox .inputWrap{
        align-items:normal !important; 
        flex-direction: column;
        margin-top: 20px !important;
    }
    .regBox .inputWrap input, .regBox .inputWrap p{
        width: 100% !important;
        margin: auto;
        margin-top: 15px !important;
    }


    .regBox .wr .inputWrap{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
 
    #small{
        width: 90% !important;
        margin: auto;
    }
    #small input{
  
        width: 50% !important;
        
    }
    
   








    .checkWrap{
        width: 90% !important;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 15px !important;
    }
    .checkWrap .box{
        width: 100% !important;
        margin-top: 20px;
    }


    .butWrap{
        width: 90%;
        margin: auto;
    }
    .butWrap button{
        margin-right: 0px !important;
        margin-top:40px;
        width: 100% !important;
    }
    .butWrap .b2{
        margin-top: 15px;
    }
    .checkWrap2{
        width: 90%;
        margin: auto;
    }

    .back{
        display: none;
    }
   
}
