@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-user-drag:none;
    user-select:none;
    font-family:'Nunito Sans', sans-serif;
}
#backmain{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(1,1,1,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}
#backmain #main{
    height:90vh;
    width:30%;
    background:white;
    border-radius:10px;
}
#backmain #main h2{
    margin-top:5%;
    text-align:center;
    color:#581ADB;
}
#backmain #main .cross{
    position:absolute;
    top:7%;
    right:36%;
    width:2%;
    transition:.15s;
}
#backmain #main .cross:hover{
    content:url(textures/hovercross.png);
    cursor:pointer;
}
#backmain #main .cross:active{transform:scale(0.9);}
#backmain #main p{
    margin:8% 0 0 10.5%;
    width:80%;
    color:gray;
}
#backmain #main select{
    margin:3% 0 0 7%;
    width:85%;
    height:8%;
    padding-left:1em;
    border:1px solid #C7C7C7;
    border-radius:30px;
    outline:none;
    color:gray;
    font-size:1em;
    transition:.15s;
}
#backmain #main select:hover{border:1px solid black;}
#backmain #main select:focus{border:1px solid #581ADB;}
#backmain #main select:active{transform:scale(0.98);}
#backmain #main .text{margin:5% 0 0 10.5%;}
#backmain #main .check1{
    margin:3% 0 0 10.5%;
    width:13%;
    transition:.15s;
}
#backmain #main .check2{
    margin:3% 0 0 5%;
    width:13%;
    transition:.15s;
}
#backmain #main .but1{
    margin:17% 0 0 7%;
    width:85%;
    height:8%;
    background-color:#581ADB;
    border:none;
    border-radius:30px;
    font-size:1em;
    color:white;
    transition:.15s;
}
#backmain #main .but1:hover{
    box-shadow:0px 0px 12px #581ADB;
    cursor:pointer;
}
#backmain #main .but1:active{transform:scale(0.95);}
#backmain #main .but2{
    margin:3.5% 0 0 7%;
    width:85%;
    height:8%;
    background:white;
    border:1px solid #C7C7C7;
    border-radius:30px;
    font-size:1em;
    color:gray;
    transition:.15s;
}
#backmain #main .but2:hover{
    border:1px solid #581ADB;
    color:#581ADB;
    cursor:pointer;
}
#backmain #main .but2:active{transform:scale(0.95);}