@media only screen and (min-width: 768px) and (max-width: 1150px){
    nav {
        background: none !important;
    }
    .News .vertical-cards {
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;
    }
    .News .vertical-cards .v-card {
        width: 46%;
        margin-left: 10px;
        margin-right: 10px;
        height: 540px;
        border-radius: 15px;
    }
    .main-foto .photo {
        flex: 0 0 60%;
    }
    .main-foto .card 
    {
        flex: 0 0 40%;
    }
    .News .vertical-cards .v-card:nth-child(3),
    .News .vertical-cards .v-card:nth-child(4) {
       margin-top: 40px;
    }
    .footer-foto
    {
        display: flex;
        overflow: hidden;
        border-radius: 13px;
    }

    .footer-foto .column{
        flex: 0 0 70%;
    }

    .footer-foto .column, .footer-foto .footer-photo {
        width: calc(50% - 155px);
    }
    .footer-foto .footer-photo {
        margin-left: 20px;
    }

}
@media only screen and (min-width: 1151px) and (max-width: 1439px){
    nav {
        background: none !important;
    }
    .News .vertical-cards {
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;
    }
    .News .vertical-cards .v-card {
        width: 46%;
        margin-left: 10px;
        margin-right: 10px;
        height: 640px;
        border-radius: 15px;
    }
    .main-foto .photo {
        flex: 0 0 60%;
    }
    .main-foto .card 
    {
        flex: 0 0 40%;
    }
    .News .vertical-cards .v-card:nth-child(3),
    .News .vertical-cards .v-card:nth-child(4) {
       margin-top: 40px;
    }
    .footer-foto
    {
        display: flex;
        overflow: hidden;
        border-radius: 14px;
    }

    .footer-foto .column{
        flex: 0 0 70%;
    }

    .footer-foto .column, .footer-foto .footer-photo {
        width: calc(50% - 220px);
    }
    .footer-foto .footer-photo {
        margin-left: 20px;
    }
}