main section{
    width: 75%;
    margin: 0 auto 10% auto;
}
.main-cont {
    display: grid;
    grid-template-columns: calc(70% - 24px) 30%; /* Уменьшаем ширину на gap */
    gap: 24px;
}
.profile-card{
    flex-basis: 70%;
    height: 230px;
    display: grid;
    grid-template-columns: 272px 1fr;
    overflow: hidden;
    border: 1px solid var(--border-primary-color);
    border-radius: 13px;
}
.user-img{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
}
.profile-info{
    display: grid;
    grid-auto-rows: min-content;
    gap: 16px;
    padding: 16px 24px;
}
.profile-name{
    display: grid;
    grid-template-columns: max-content 24px;
    gap: 8px;
}
.profile-name p{
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}
.profile-ch-photo-cont{
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: max-content 24px;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid var(--border-primary-color);
    padding: 4px 4px 4px 16px;
}

.profile-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid var(--border-primary-color);
    border-radius: 13px;
    padding: 24px;
}
.profile-card-info p:nth-child(1){
    margin-bottom: 16px;
}

/* USER INFO */
.user-info{
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    
    border: 1px solid var(--border-primary-color);
    border-radius: 13px;
    padding: 24px;
    align-items: start;
}
.user-info .col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center;
    justify-content: start;
}
.date-text{
    color: var(--border-primary-color) !important;
    grid-column: span 2;
    width: 60%;
}
.user-info .select-menu{
    grid-column: span 2;
    width: 50%;
    min-width: 50%;
}

.title-1{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: var(--primary-color);
    margin: 24px 0;
}


/* ==================================================
                                BOOK
====================================================*/
.book-cont{
    display: grid;
    grid-template-columns: calc(70% - 24px) 30%; /* Уменьшаем ширину на gap */
    gap: 24px;
}

.book-item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    border: 1px solid var(--border-primary-color);
    border-radius: 14px;
}
/* IMAGE */
.book-item img.im-hotel{
    height: 207px;
    width: auto;
    align-self: center;
}

/* DESCRIPTION */
.book-item .descr{
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.book-item .descr p.book-title{
    color: var(--black-color);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    margin-bottom: 8px;
    text-align: left;
}


.book-item .descr-3-item{
    display: grid;
    grid-template-columns: 24px 68px auto;
    gap: 8px;
    margin-bottom: 8px;
}

.book-item .prev-cont{
    display: flex;
    flex-wrap: wrap;
}
.book-item .descr .prev-item{
    display: grid;
    grid-template-columns: 24px auto;
    margin-right: 32px;
}




/* BOOK-INFO CONT (RIGHT)*/
.book-info-cont{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: max-content 1fr auto;
    gap: 24px;
    height: 100%;
}

.small-item-box{
    grid-column: span 2;
    width: 100%;
    padding: 6px 0;
    border-radius: 13px;
    border: 1px solid var(--border-primary-color);
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.med-item-box{
    grid-column: span 3;
    height: 100%;
    display: flex;
    border-radius: 13px;
    border: 1px solid var(--secondary-color);
    
    align-items: center;
    justify-content: center;


    box-shadow: 0px 0px 0px 0px #0000000D;
    box-shadow: 0px 1px 2px 0px #0000000D;
    box-shadow: 0px 3px 3px 0px #0000000A;
    box-shadow: 0px 7px 4px 0px #00000008;
    box-shadow: 0px 13px 5px 0px #00000003;
    box-shadow: 0px 20px 6px 0px #00000000;
}
.ref-item-box{
    grid-column: span 6;
}
.ref-item-box span{
    margin-left: 16px;
}

.card-info{
    border: 1px solid var(--border-primary-color);
    box-shadow: 0px 4px 69px 0px #0000000D;
    box-shadow: 0px 1px 8px 0px #00000014;
    border-radius: 13px;
    padding: 24px;
    width: 100%;
    height: 207px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-info .img-card{
    margin-bottom: 16px;
}

/* ==================================================
                            ADAPTIVE 1024 1439
====================================================*/
@media only screen and (min-width: 1024px) and (max-width: 1439px)
{
    .main-cont {
        display: flex;
        flex-wrap: wrap;
    }
    .profile-card{
        flex-basis: 100%;
    }
    .profile-card-info{
        flex-basis: 100%;
    }
    .user-info .col:nth-child(2) .select-menu{
        grid-column: span 2;
        width: 70%;
    }
    .book-cont{
        grid-template-columns: 1fr;
    }
    .small-item-box{
        height: 72px;
    }
    .med-item-box{
        height: 96px;
    }
}
/* ==================================================
                            ADAPTIVE 768 1023
====================================================*/
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
    .main-cont {
        display: flex;
        flex-wrap: wrap;
    }
    .profile-card{
        flex-basis: 100%;
        height: 25%;
        grid-template-columns: 25% 1fr;
    }
    .profile-card-info{
        flex-basis: 100%;
    }
    .user-info{
        width: 100%;
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .user-info .col:nth-child(1){
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }
    .user-info .col:nth-child(1) p{
        margin: 4px 0 16px 24px;
        flex-basis: 100%;
    }
    .user-info .col:nth-child(1) p.date-text{
        margin: -16px 0 16px 24px;
    }
    .user-info .col:nth-child(2) .select-menu{
        grid-column: span 2;
        width: 100%;
    }



    .book-cont{
        grid-template-columns: 1fr;
    }
    .small-item-box{
        height: 72px;
    }
    .med-item-box{
        height: 96px;
    }

    /* ==================================================
                                BOOK
    ====================================================*/
    .book-item{
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        border: 1px solid var(--border-primary-color);
        border-radius: 14px;
    }
    /* IMAGE */
    .book-item img.im-hotel{
        width: 100%;
        align-self: center;
    }

    /* DESCRIPTION */
    .book-item .descr{
        padding: 0 16px;
        display: flex;
        flex-direction: column;
    }

    .book-item .descr-3-item{
        display: grid;
        grid-template-columns: 24px 68px auto;
        gap: 8px;
        margin-top: 8px;
    }

    .book-item .prev-cont{
        display: flex;
        flex-wrap: wrap;
    }
    .book-item .descr .prev-item{
        display: grid;
        grid-template-columns: 24px auto;
        margin-right: 32px;
    }

}
/* ==================================================
                            ADAPTIVE 320 767
====================================================*/
@media only screen and (max-width: 767px)
{
    .main-cont {
        display: flex;
        flex-wrap: wrap;
    }
    .profile-card{
        flex-basis: 100%;
        height: 25%;
        grid-template-columns: 25% 1fr;
    }
    .profile-card-info{
        flex-basis: 100%;
    }
    .profile-ch-photo-cont{
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: column;
        grid-template-columns: auto;
        justify-content: center;
    }
    .user-info{
        width: 100%;
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .user-info .col:nth-child(1){
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }
    .user-info .col:nth-child(1) p{
        margin: 4px 0 16px 24px;
        flex-basis: 100%;
    }
    .user-info .col:nth-child(1) p.date-text{
        margin: -16px 0 16px 24px;
    }
    .user-info .col:nth-child(2) .select-menu{
        grid-column: span 2;
        width: 100%;
    }



    .book-cont{
        grid-template-columns: 1fr;
    }
    .small-item-box{
        height: 72px;
    }
    .med-item-box{
        height: 96px;
    }

    /* ==================================================
                                BOOK
    ====================================================*/
    .book-item{
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        border: 1px solid var(--border-primary-color);
        border-radius: 14px;
    }
    /* IMAGE */
    .book-item img.im-hotel{
        width: 100%;
        align-self: center;
    }
    
    /* DESCRIPTION */
    .book-item .descr{
        padding: 0 16px;
        display: flex;
        flex-direction: column;
    }
    
    .book-item .descr-3-item{
        display: grid;
        grid-template-columns: 24px 68px auto;
        gap: 8px;
        margin-top: 8px;
    }
    
    .book-item .prev-cont{
        display: flex;
        flex-wrap: wrap;
    }
    .book-item .descr .prev-item{
        display: grid;
        grid-template-columns: 24px auto;
        margin-right: 32px;
    }

}
