main section{
    width: 75%;
    margin: 0 auto 10% auto;
}
.main-cont{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 24px;
}
.profile-card{
    flex-basis: 70%;
    height: 230px;
    display: grid;
    grid-template-columns: 272px 1fr;
    overflow: hidden;
    border: 1px solid var(--border-primary-color);
    border-radius: 13px;
}
.user-img{
    width: 100%;
    height: 100%;
    background-color: gainsboro;
}
.profile-info{
    display: grid;
    grid-auto-rows: min-content;
    gap: 16px;
    padding: 16px 24px;
}
.profile-name{
    display: grid;
    grid-template-columns: max-content 24px;
    gap: 8px;
}
.profile-name p{
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
}
.profile-ch-photo-cont{
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: max-content 24px;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid var(--border-primary-color);
    padding: 4px 4px 4px 16px;
}

.profile-card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid var(--border-primary-color);
    border-radius: 13px;
    padding: 24px;
}
.profile-card-info p:nth-child(1){
    margin-bottom: 16px;
}

/* USER INFO */
.user-info{
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    
    border: 1px solid var(--border-primary-color);
    border-radius: 13px;
    padding: 24px;
    align-items: start;
}
.user-info .col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center;
    justify-content: start;
}
.date-text{
    color: var(--border-primary-color) !important;
    grid-column: span 2;
    width: 60%;
}
.user-info .select-menu{
    grid-column: span 2;
    width: 50%;
    min-width: 50%;
}
/* ==================================================
                            ADAPTIVE 1024 1439
====================================================*/
@media only screen and (min-width: 1024px) and (max-width: 1439px)
{
    
}
/* ==================================================
                            ADAPTIVE 768 1023
====================================================*/
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
   
}
/* ==================================================
                            ADAPTIVE 320 767
====================================================*/
@media only screen and (max-width: 767px)
{

}
