main section{
    width: 75%;
    margin: 0 auto 10% auto;
}
#main #actext{
    margin-top:1.5%;
    height:30vh;
    width:100%;
    display:flex;
}
#main #actext .account{
    height:30vh;
    width:62%;
    border:1px solid var(--header-border-color);
    border-radius:10px;
    display:flex;
}
#main #actext .account img{
    margin:-.1% 0 0 -.4%;
    height:101%;
    width:32.5%;
}
#main #actext .account .rightaccount{
    height:100%;
    width:30%;
    display:flex;
    flex-direction:column;
}
#main #actext .account .rightaccount #name{
    margin:3% 0 0 7%;
    height:15%;
    width:75%;
    display:flex;
}
#main #actext .account .rightaccount #name #edit{
    margin:-2% 0 0 5%;
    width:18%;
    height:85%;
}
#main #actext .account .rightaccount input[type='button']{
    margin:7% 0 0 7.5%;
    border:1px solid var(--primary-color);
    padding:.3em 2.5em .3em .6em;
    background:transparent;
    border-radius:20px;
    color:var(--primary-color);
    font-size:1em;
    transition:.15s;
}
#main #actext .account .rightaccount input[type='button']:hover{
    cursor:pointer;
    border:1px solid var(--secondary-color);
    color:var(--secondary-color);
}
#main #actext .account .rightaccount input[type='button']:active{transform:scale(0.95);}
#main #actext .account .rightaccount #but5{
    background-image:url(../../svg/camera.svg);
    background-size:12%;
    background-repeat:no-repeat;
    background-position:97%;
    transition:.15s;
}
#main #actext .account .rightaccount #but5:hover{background-image:url(../../svg/camera_hover.svg);}
#main #actext .textik{
    margin-left:3%;
    width:35%;
    height:30vh;
    border:1px solid var(--header-border-color);
    border-radius:10px;
    color:var(--primary-color);
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
}
#main #actext .textik p{width:85%;}
#main .forms{
    margin-top:2.5%;
    padding:2%;
    height:45vh;
    width:100%;
    border:1px solid var(--header-border-color);
    border-radius:10px;
}
#main .forms input[type='number'], input[type='email'], input[type='date']{
    margin-bottom:2%;
    width:23%;
    height:20%;
    padding:0 1em;
    border:1px solid #C7C7C7;
    border-radius:30px;
    outline:none;
    font-size:1em;
    color:gray;
    transition:.15s;
}
#main .forms input[type='date']{
    padding:0;
    text-align:center;
}
#main .forms input[type='number']:hover{border:1px solid black;}
#main .forms input[type='number']:focus{border:1px solid var(--secondary-color);}
#main .forms input[type='number']:active{transform:scale(0.95);}
#main .forms input[type='email']:hover{border:1px solid black;}
#main .forms input[type='email']:focus{border:1px solid var(--secondary-color);}
#main .forms input[type='email']:active{transform:scale(0.95);}
#main .forms input[type='date']:hover{border:1px solid black;}
#main .forms input[type='date']:focus{border:1px solid var(--secondary-color);}
#main .forms input[type='date']:active{transform:scale(0.95);}
#main .forms span{
    margin-left:3%;
    color:gray;
}
#main .forms select{
    margin:0 0 2% 13%;
    width:23%;
    height:20%;
    text-align:center;
    border:1px solid #C7C7C7;
    border-radius:30px;
    outline:none;
    font-size:1em;
    color:gray;
    transition:.15s;
}
#main .forms select:hover{border:1px solid black;}
#main .forms select:focus{border:1px solid #581ADB;}
#main .forms select:active{transform:scale(0.98);}
#main .forms #bruh{margin:0 0 2% 12%;}
#main .forms p{
    color:var(--header-border-color);
    width:25%;
}
#main #header{
    margin-top:1.5%;
    color:gray;
    font-weight:300;
    text-transform:uppercase;
}
#main .hotel{
    margin-top:1.5%;
    width:100%;
    height:32vh;
    display:flex;
}
#main .hotel #lefthotel{
    height:100%;
    width:62%;
    border:1px solid var(--header-border-color);
    border-radius:12px;
    display:flex;
}
#main .hotel #lefthotel img{
    margin:-.1% 0 0 -.2%;
    height:101%;
    width:37%;
}
#main .hotel #lefthotel #lrhotel{
    height:100%;
    width:63%;
    display:flex;
    flex-direction:column;
}
#main .hotel #lefthotel #lrhotel h3{margin:2% 0 0 3%;}
#main .hotel #lefthotel #lrhotel .column{
    margin:3% 0 0 3%;
    height:13%;
    width:100%;
    display:flex;
    align-items:center;
}
#main .hotel #lefthotel #lrhotel .column svg{
    height:100%;
    width:6%;
}
#main .hotel #lefthotel #lrhotel .column span{
    margin-left:2%;
    color:gray;
}
#main .hotel #lefthotel #lrhotel .column #text1{margin-left:10%;}
#main .hotel #lefthotel #lrhotel .column #text2{margin-left:5%;}
#main .hotel #lefthotel #lrhotel .column #violet{color:var(--secondary-color);} 
#main .hotel #lefthotel #lrhotel .column2{
    margin:9% 0 0 3%;
    height:13%;
    width:100%;
    display:flex;
    align-items:center;
}
#main .hotel #lefthotel #lrhotel .column2 svg{
    height:100%;
    width:6%;
}
#main .hotel #lefthotel #lrhotel .column2 span{
    margin-left:2%;
    color:gray;
}
#main .hotel #lefthotel #lrhotel .column2 #image{margin-left:2%;}
#main .hotel #righthotel{
    margin-left:2%;
    width:37%;
    height:100%;
    display:flex;
    flex-direction:column;
}
#main .hotel #righthotel .trhotel{
    width:100%;
    height:40%;
    display:flex;
    justify-content:space-between;
}
#main .hotel #righthotel .trhotel #box{
    height:100%;
    width:30%;
    border:1px solid var(--header-border-color);
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#main .hotel #righthotel .trhotel #box img{width:21%;}
#main .hotel #righthotel .trhotel #box span{
    margin-top:4%;
    color:gray;
}
#main .hotel #righthotel .crhotel{
    margin-top:1.5%;
    width:100%;
    height:43%;
    display:flex;
    justify-content:space-between;
}
#main .hotel #righthotel .crhotel #box{
    height:100%;
    width:48%;
    border:2px solid var(--secondary-color);
    border-radius:10px;
    color:var(--secondary-color);
    text-transform:uppercase;
    font-weight:bold;
    display:flex;
    justify-content:center;
    align-items:center;
}
#main .hotel #righthotel .brhotel{
    margin-top:1%;
    width:100%;
    height:12%;
    display:flex;
    align-items:center;
}
#main .hotel #righthotel .brhotel #text1{
    color:var(--secondary-color);
    font-size:1em;
}
#main .hotel #righthotel .brhotel #text2{
    margin-left:5%;
    color:gray;
    font-size:1em;
}
#main .review{
    margin-top:1.5%;
    width:100%;
    height:32vh;
    border:1px solid var(--header-border-color);
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#main .review span{
    margin-top:1%;
    font-size:1em;
    color:gray;
}
/* ==================================================
                            ADAPTIVE 1024 1439
====================================================*/
@media only screen and (min-width: 1024px) and (max-width: 1439px){
    
}
/* ==================================================
                            ADAPTIVE 768 1023
====================================================*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
   
}
/* ==================================================
                            ADAPTIVE 320 767
====================================================*/
@media only screen and (max-width: 767px){

}
