@media only screen and (min-width: 768px) and (max-width: 1439px){
    main{
        width: 100%;
        margin: 0px 10px 0 10px;
        display: grid;
        grid-template-columns: 100%;
    }
    main aside{
        display: flex;
        flex-direction: column;
    }
    main aside .adapt{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    main .filter-button {
        display: block; 
        position: relative; 
        width: 100%;
        margin-bottom: 30px;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        height: 40px;
        background-color: transparent;
        border: 1px solid var(--primary-color);
        border-radius: 20px;
        color: var(--primary-color);
        font-size: 16px;
        font-weight: 400;
        margin-right: 5px;
        margin-left: 10px;
    }
    main .filter-button img {filter: brightness(0) saturate(100%) invert(58%) sepia(0%) saturate(0%) hue-rotate(359deg) brightness(70%) contrast(90%);}
    main .map-button {
        width: 100%;
        margin-left: 5px;
        margin-right: 10px;
    }
    main aside{margin-top: -30px;}
    section{
        display: none;
        margin-bottom: 30px;
    }
    main content .card {width: 95%;}
}