nav{
  background-image: url('../img/Back_img_HotelTypes.png') !important;
}
/* ==================================================
                              MAIN
====================================================*/
main{
  width: 75%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 24% 76%;
}
/* Стилизация боковой панели */
main aside{
  background-color: var(--background-color);
  margin-right: 15px;
}
main aside section .Box
{
  margin: 20px;
  position: relative;
}

/* Рамка для боковой панели */
main aside section{
  border: 1px solid var(--border-primary-color);
  border-radius: 13px;
}

/* Стилизация меток в разделах боковой панели */
main aside section label, .accordion-toggle
{
  color: var(--primary-color);
  font-weight: 700;
  font-size: 16px;
  background-color: var(--background-color);
  border: none;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Nunito Sans', sans-serif;
}
main aside section .accordion-toggle .pur-arrow{
  vertical-align: middle;
  margin-top: 5px;
}

/* Расположение элементов в блоке .Number внутри Price */
main aside section .Number
{
  display: flex;
  justify-content: space-between;
}
main aside section .Number p{
  color: var(--primary-color);
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Стилизация кнопки ползунка */
main aside input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.8px;  
  background: var(--primary-color);
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

main aside input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: white; 
  border: 1.8px solid var(--primary-color); 
  cursor: pointer;
  border-radius: 50%; 
}

/*BUTTOM MAP*/
main .filter-button {
  display: none; 
}
/* Стилизация кнопки с округлыми краями и границей */
main .map-button {
  position: relative; 
  width: 100%;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--border-primary-color);
  border-radius: 20px;
  color: var(--red-color);
  font-size: 16px;
  font-weight: 400;
}
main .map-button:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease; 
}

/* Позиционирование иконки внутри кнопки справа */
main .button-icon {
  position: absolute;
  top: 50%; 
  right: 10px; 
  transform: translateY(-50%);
}

/* Оформление текстового поля с округлыми краями и границей */
main .Box input[type="text"] {
  position: relative; 
  width: 100%;
  text-align: left;
  height: 40px;
  background-color: transparent;
  border: 1px solid var(--border-primary-color);
  border-radius: 20px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;

  padding-left: 20px;
  box-sizing: border-box;
}

/* Позиционирование иконки внутри текстового поля справа */
main .Box .text-icon {
  position: absolute;
  top: 50%; 
  right: 20px; 
  transform: translateY(-50%);
}

/* Стилизация горизонтального разделителя */
.custom-hr{
    border: 0;
    height: 1px;
    background-color: var(--border-primary-color); 
}

/* RATING */

main aside section .Box .Block{
  display: flex;
  justify-content: space-between;
}

/* Стилизация блока с чекбоксом*/
main .checkbox-container {
  display: flex;
}

aside section .Box .Rating, .Popular, .Stars, .Facilities, .Typeofhotel, .Chainhotels
{
  margin-top: 5px;
}

/* Скрытие стандартного чекбокса и стилизация кастомного */
main input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  opacity: 0;
  position: absolute;
}

main input[type="checkbox"] + label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  display: inline-block;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  background-color: white; 
  margin-bottom: 5px;
  margin-top: 5px;
  transition: background-color 0.3s; 
  
}

main input[type="checkbox"] + label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px; 
  height: 9px; 
  background-color: white; 
  border-radius: 50%; 
  transform: translate(-50%, -50%) scale(0); 
  transition: transform 0.3s; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

main input[type="checkbox"]:checked + label {
  background-color: var(--secondary-color);
}

main input[type="checkbox"]:checked + label::after {
  transform: translate(-50%, -50%) scale(1); 
}

main aside section .Box .Block p
{
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 400;

  margin-bottom: 4px;
  margin-top: 4px;
}
main aside section .pur {
  transition: transform 0.3s ease;
  transform: rotate(-90deg);
  margin-top: 5px;
}

main aside section .accordion-toggle.active .pur{
  transform: rotate(0deg);
}

/* Карточки */

main content{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 15px;
}

main content .card
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 320px;
  background-color: var(--background-color);
  border-radius: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); 
  margin-bottom: 30px ;
}
main content .card .hotelImg
{
  height: 100%;
  width: 320px;
}
main content .card .container 
{
  width: 100%;
  height: 100%;
  padding: 0px 20px 20px 20px;
}
main content .card .container .card-header
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px;
  border: none;
  background-color: var(--background-color);
}
main content .card .container .card-header .hotelName h1
{
  font-size: 20px;
  font-weight: 700;
  color: var(--black-color);
  margin: 0;
}
main content .card .container .card-header .hotelName img:first-of-type{
  margin-left: 2px; 
}
main content .card .container .card-header .hotelRating
{
  display: flex;
  flex-direction: row;
  align-items:center;
}
main content .card .container .card-header .hotelRating .reviews
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main content .card .container .card-header .hotelRating .reviews p
{
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  margin: 0px;
  margin-bottom: -3px;
}

main content .card .container .Add-information
{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;
  margin-top: -10px;
}
main content .card .container .Add-information img{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
main content .card .container .Add-information div
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 21px;
  color: var(--primary-color);
}

main content .card .container .places-nearby
{
  display: flex;
  flex-direction: row;
  width: 100%;
  
}
main content .card .container .places-nearby p{
  font-size: 16px;
  font-weight: 400;
  color: var(--black-color);
  margin-right: 21px;
  margin-bottom: 5px;
  margin-top: 15px;
}
main content .card .container .see-map
{
  display: flex;
  flex-direction: row;
  align-items:center;
}
main content .card .container .see-map p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-right: 21px;
  margin-bottom: 5px;
  margin-top: 15px;
}

main content .card .container .see-map .arrow {
   margin-top: 10px;
}


main content .card .container .description
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
main content .card .container .description p{
  width: 70%;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  margin-top: 15px;
}
main content .card .container .description .price
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:center;
  width: 25%; 
  padding-bottom: 20px;
}
main content .card .container .description .price p{
  color: var(--black-color);
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

main content .card .container .description .price a {
  color: var(--white-text-color);
  font-weight: 700;
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 20px;
  font-family: 'Nunito Sans', sans-serif;
  transition: transform  0.3s ease; 
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

main content .card .container .description .price a:hover {
  transform: scale(1.1);
}


main content .card .container .description .price span{
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  margin: 5px 0;
}

main content .card .container .circle {
  position: relative;
}

main content .card .container .crown-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}