@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-user-drag:none;
    user-select:none;
    font-family:'Nunito Sans', sans-serif;
}
#backmain{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(1,1,1,0.75);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
    opacity:0;
    visibility:hidden;
}
#backmain #main{
    height:90vh;
    width:30%;
    background:white;
    border-radius:10px;
}
#backmain #main h2{
    margin-top:10%;
    text-align:center;
    color:#581ADB;
}
#backmain #main img{
    position:absolute;
    top:8%;
    right:36.5%;
    width:2%;
    transition:.15s;
}
#backmain #main img:hover{
    content:url(../../../img/hovercross.png);
    cursor:pointer;
}
#backmain #main img:active{transform:scale(0.9);}
#backmain #main input[type='text'], input[type='password']{
    margin:5% 0 0 7%;
    width:85%;
    height:8%;
    padding-left:1em;
    border:1px solid #C7C7C7;
    border-radius:30px;
    outline:none;
    font-size:1em;
    transition:.15s;
}
#backmain #main input[type='text']:hover{border:1px solid black;}
#backmain #main input[type='text']:focus{border:1px solid #581ADB;}
#backmain #main input[type='text']:active{transform:scale(0.95);}
#backmain #main input[type='password']:hover{border:1px solid black;}
#backmain #main input[type='password']:focus{border:1px solid #581ADB;}
#backmain #main input[type='password']:active{transform:scale(0.95);}
#backmain #main p{
    margin-top:2%;
    color:gray;
    text-align:center;
}
#backmain #main p a{
    color:#581ADB;
    transition:.15s;
}
#backmain #main p a:hover{
    text-decoration:underline;
    cursor:pointer;
}
#backmain #main .but1{
    margin:5% 0 0 7%;
    width:85%;
    height:8%;
    background-color:#581ADB;
    border:none;
    border-radius:30px;
    font-size:1em;
    color:white;
    transition:.15s;
}
#backmain #main .but1:hover{
    box-shadow:0px 0px 12px #581ADB;
    cursor:pointer;
}
#backmain #main .but1:active{transform:scale(0.95);}
#backmain #main .but2{
    margin:3.5% 0 0 7%;
    width:85%;
    height:8%;
    background:white;
    border:1px solid #C7C7C7;
    border-radius:30px;
    font-size:1em;
    transition:.15s;
}
#backmain #main .but2:hover{
    border:1px solid black;
    cursor:pointer;
}
#backmain #main .but2:active{transform:scale(0.95);}
#backmain #main #google{
    margin:8% 0 0 7%;
    background-image:url(../../../svg/google.svg);
    background-size:6%;
    background-repeat:no-repeat;
    background-position:4%;
}
#backmain #main #facebook{
    background-image:url(../../../svg/facebook.svg);
    background-size:6%;
    background-repeat:no-repeat;
    background-position:4%;
}
#backmain #main #apple{
    background-image:url(../../../svg/apple.svg);
    background-size:6%;
    background-repeat:no-repeat;
    background-position:4%;
}