@media only screen and (max-width: 767px)
{

/* ==================================================
                PROFILE TABS IN MENU PROFILE
====================================================*/
.profile-item{
    margin-right: 16px;
}
.profile-item-back{
    margin: 0 16px 0 20px;
}

/* ==================================================
            SMALL SQUARE CARD WITH ICON AND TEXT
====================================================*/
.imp-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}
}