@media only screen and (min-width: 1024px) and (max-width: 1439px){
    /* ==================================================
                    PROFILE TABS IN MENU PROFILE
    ====================================================*/
    .profile-item{margin-right: 16px;}
    .profile-item-back{margin: 0 16px 0 20px;}
    /* ==================================================
                SMALL SQUARE CARD WITH ICON AND TEXT
    ====================================================*/
    .imp-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1439px){
    /* ==================================================
                            HEADER
    ====================================================*/
    .container{width: 95%;}
    header{
        flex-wrap: wrap;
        padding:0px;
    }
    header .left-part{
        order: 3;
        flex-basis: 100%;
    }
    header .center-part{
        order: 1;
        flex-basis: 100%;
        margin-bottom: 24px;
    }
    .desktop-icon {
        display: none !important;; 
    }
    .mobile-icon {
        display: block !important;
        filter: brightness(0) invert(1);
    }
    nav .panel div {
        margin-left: 0px;
    }
    nav .panel {
        width: 90%;
        padding-left: 30px;
    }
    .text-name {display: none;}
    .Booking div {padding-top: 0px;}
    .adap {
        background-image: url('/img/Back_img_Main.png') !important;
        background-position: 1180px center;
        height: 112px;
    }
}