@media only screen and (max-width: 768px){
    /* ==================================================
                    PROFILE TABS IN MENU PROFILE
    ====================================================*/
    .profile-item{margin-right: 16px;}
    .profile-item-back{margin: 0 16px 0 20px;}
    /* ==================================================
                SMALL SQUARE CARD WITH ICON AND TEXT
    ====================================================*/
    .imp-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
    /* ==================================================
                            HEADER
====================================================*/
.container{
    width: 95%;
    margin: 64px auto 0 auto;
}
header .Sign .Reg {
    display: none;
}
/* ==================================================
                            NAV
====================================================*/

    .hide-on-mobile {
        display: none;
    }
    .desktop-icon {
        display: none !important;; 
    }
    .mobile-icon{
        display: block !important;
    }
    nav .panel div {
        margin-left: 0px;
    }
    nav .panel {
        width: 90%;
        padding-left: 30px;
    }
    .text-name {display:none;}
    .Booking div {padding-top: 0px;}
    .adap{
        background-image: url('/img/Back_img_Main.png') !important;
        background-position: 1180px center;
        height: 112px;
    }
/* ==================================================
                           FOOTER
====================================================*/

.ftr-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.ftr-container li {
    margin: 0px;
}
.ftr-column {
    position: relative; 
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.ftr-column:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.ftr-column ul li:not(:first-child) {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.ftr-column.active ul li {
    max-height: 30px; 
    opacity: 1;
}

.ftr-column::after {
    content: '';
    position: absolute;
    top: 15px; 
    right: 20px; 
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transform: rotate(-45deg); 
    transform-origin: center; 
    transition: transform 0.5s ease;
}

.ftr-column.active::after {
    transform: rotate(45deg); 
}

footer .ftr-container {
    width: 100%;
    margin: 0px;
    padding-top: 0px;
}
footer {
    margin-top: 200px;
    height: auto;
    margin-bottom: 50px;
}
.mobile-only {
    display: block;
    margin: 10px 20px !important;
    filter: brightness(0) invert(1);
}


}
@media only screen and (max-width: 374px){
    header .Sign .SignIn {
        display: none;
    }
}