@media only screen and (min-width: 1024px) and (max-width: 1439px)
{
/* ==================================================
                PROFILE TABS IN MENU PROFILE
====================================================*/
.nav-profile{
    background: none;
    padding: 24px 0;
    height: auto;
}

.profile-item-back{
    grid-template-columns: 24px max-content;
}
.profile-item-back p:before{
    content: "Main";
}

.profile-item{
    margin-right: 16px;
}
}