#backmain4{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(1,1,1,0.75);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
    opacity:0;
    visibility:hidden;
}
#backmain4 #main{
    position:relative;
    height:90vh;
    width:30%;
    background:white;
    border-radius:10px;
}
#backmain4 #main h2{
    margin-top:4%;
    text-align:center;
    color:#581ADB;
}
#backmain4 #main #cross4{
    position:absolute;
    top:2.5%;
    right:4%;
    transition:.15s;
}
#backmain4 #main #cross4:hover{
    content:url(../../svg/close_hover.svg);
    cursor:pointer;
}
#backmain4 #main #cross4:active{transform:scale(0.9);}
#backmain4 #main p{
    margin:8% 0 0 10.5%;
    width:80%;
    color:gray;
}
#backmain4 #main .select-menu{
    margin:5% 0 0 7%;
    width:85%;
    height:8%;
    transition:.15s;
}
#backmain4 #main .select-menu:active{transform:scale(0.98);}
#backmain4 #main .text{margin:5% 0 0 10.5%;}
#backmain4 #main .check1{
    margin:3% 0 0 10.5%;
    width:13%;
    transition:.15s;
}
#backmain4 #main .check2{
    margin:3% 0 0 5%;
    width:13%;
    transition:.15s;
}
#backmain4 #main .but1{
    margin:11% 0 0 7%;
    width:85%;
    height:8%;
    background-color:#581ADB;
    border:none;
    border-radius:32px;
    font-size:1em;
    color:white;
    transition:.15s;
}
#backmain4 #main .but1:hover{
    box-shadow:0px 0px 12px #581ADB;
    cursor:pointer;
}
#backmain4 #main .but1:active{transform:scale(0.95);}
#backmain4 #main .but2{
    margin:3.5% 0 0 7%;
    width:85%;
    height:8%;
    background:white;
    border:1px solid #C7C7C7;
    border-radius:32px;
    font-size:1em;
    color:gray;
    transition:.15s;
}
#backmain4 #main .but2:hover{
    border:1px solid #581ADB;
    color:#581ADB;
    cursor:pointer;
}
#backmain4 #main .but2:active{transform:scale(0.95);}
/* ==================================================
                    ADAPTIVE 1024-1439
====================================================*/
@media only screen and (min-width:1024px) and (max-width:1439px){
    #backmain4 #main{width:35%;}
    #backmain4 #main .cross{
        top:7%;
        right:34%;
        width:2.3%;
    }
}
/* ==================================================
                    ADAPTIVE 768-1023
====================================================*/
@media only screen and (min-width:768px) and (max-width:1023px){
    #backmain4 #main{width:45%;}
    #backmain4 #main .cross{
        right:29.5%;
        width:3%;
    }
}
/* ==================================================
                    ADAPTIVE 320-767
====================================================*/
@media only screen and (max-width:767px){
    #backmain4 #main{width:50%;}
    #backmain4 #main .cross{
        top:20%;
        right:27%;
        width:4%;
    }
    #backmain4 #main .but1{margin:24% 0 0 7%;}
}