#backmain{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(1,1,1,0.75);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
    opacity:0;
    visibility:hidden;
}
#backmain #main{
    position:relative;
    height:90vh;
    width:30%;
    background:white;
    border-radius:10px;
}
#backmain #main h2{
    margin-top:4%;
    text-align:center;
    color:#581ADB;
}
#backmain #main img{
    position:absolute;
    top:2.5%;
    right:4%;
    transition:.15s;
}
#backmain #main img:hover{
    content:url(../../svg/close_hover.svg);
    cursor:pointer;
}
#backmain #main img:active{transform:scale(0.9);}
#backmain #main input[type='text'], input[type='password']{
    margin:5% 0 0 7%;
    width:85%;
    height:8%;
    padding-left:1em;
    border:1px solid #C7C7C7;
    border-radius:32px;
    outline:none;
    font-size:1em;
    transition:.15s;
}
#backmain #main input[type='text']:hover{border:1px solid black;}
#backmain #main input[type='text']:focus{border:1px solid #581ADB;}
#backmain #main input[type='text']:active{transform:scale(0.97);}
#backmain #main input[type='password']:hover{border:1px solid black;}
#backmain #main input[type='password']:focus{border:1px solid #581ADB;}
#backmain #main input[type='password']:active{transform:scale(0.97);}
#backmain #main p{
    margin-top:2%;
    color:gray;
    text-align:center;
}
#backmain #main p a{
    color:#581ADB;
    transition:.15s;
}
#backmain #main p a:hover{
    text-decoration:underline;
    cursor:pointer;
}
#backmain #main .but1{
    margin:5% 0 0 7%;
    width:85%;
    height:8%;
    background-color:#581ADB;
    border:none;
    border-radius:32px;
    font-size:1em;
    color:white;
    transition:.15s;
}
#backmain #main .but1:hover{
    box-shadow:0px 0px 12px #581ADB;
    cursor:pointer;
}
#backmain #main .but1:active{transform:scale(0.95);}
#backmain #main .but2{
    margin:3.5% 0 0 7%;
    width:85%;
    height:8%;
    background:white;
    border:1px solid #C7C7C7;
    border-radius:32px;
    color:#4e4e4e;
    font-size:1em;
    transition:.15s;
}
#backmain #main .but2:hover{
    border:1px solid black;
    cursor:pointer;
}
#backmain #main .but2:active{transform:scale(0.95);}
#backmain #main #google{
    margin:12% 0 0 7%;
    background-image:url(../../svg/google.svg);
    background-size:6%;
    background-repeat:no-repeat;
    background-position:4%;
}
#backmain #main #facebook{
    background-image:url(../../svg/facebook.svg);
    background-size:6%;
    background-repeat:no-repeat;
    background-position:4%;
}
#backmain #main #apple{
    background-image:url(../../svg/apple.svg);
    background-size:6%;
    background-repeat:no-repeat;
    background-position:4%;
}
/* ==================================================
                    ADAPTIVE 1800+
====================================================*/
@media only screen and (min-width:1800px){
    #backmain #main h2{
        margin-top:7%;
        font-size:2em;
    }
    #backmain #main input[type='text'], input[type='password']{font-size:1.25em;}
    #backmain #main p{font-size:1.1em;}
    #backmain #main .but1{font-size:1.25em;}
    #backmain #main .but2{font-size:1.25em;}
}
/* ==================================================
                    ADAPTIVE 1024-1439
====================================================*/
@media only screen and (min-width:1024px) and (max-width:1439px){
    #backmain #main{width:35%;}
}
/* ==================================================
                    ADAPTIVE 768-1023
====================================================*/
@media only screen and (min-width:768px) and (max-width:1023px){
    #backmain #main{width:45%;}
}
/* ==================================================
                    ADAPTIVE 767-
====================================================*/
@media only screen and (max-width:767px){
    #backmain #main h2{margin-top:7%;}
    #backmain #main{
        height:70vh;
        width:70%;
    }
}