main section{
    width: 75%;
    margin: 0 auto 10% auto;
}
.card-cont, .card-info {
    border: 1px solid var(--border-primary-color);
    box-shadow: 0px 4px 69px 0px #0000000D;
    box-shadow: 0px 1px 8px 0px #00000014;
    border-radius: 13px;
    padding: 24px;
    margin-top: 20px;
}
.input-border{width: 33% !important;}
.gray-text{
    display: flex;
    color: var(--primary-color);
    align-items: center;
    margin-left: 15px;
}
.card-cont-main{
    display: flex;
    flex-direction: row;
}
.input-text-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-text-cont .simple-text {margin-left: 15px;}
.card-cont-main:nth-child(2){margin-top: 20px;}
.card-cont-main:nth-child(3){margin-top: 40px;}
.card-cont-main:nth-child(3) .input-border::placeholder { 
    color: rgb(197, 197, 197); 
    opacity: 1; 
}
.main-text{width: 52%;}
.main-text p{
    margin-top: 30px;
    font-weight: 400;
    margin-left: 0px;
}
.main-text .gray-text:nth-of-type(4) {margin-top: 0px;}
.context.fc-sc {
    display: flex;
    align-items: center; 
    margin-top: 30px;
}
.arrow_{margin-left: 10px;}
/* ==================================================
                            ADAPTIVE 1024 1439
====================================================*/
@media only screen and (min-width: 1024px) and (max-width: 1439px){
    nav {background: none !important;}
    .input-border {width: 45% !important;}
    .main-text {width: 70%;}
}
/* ==================================================
                            ADAPTIVE 768 1023
====================================================*/
@media only screen and (min-width: 950px) and (max-width: 1023px){
    nav {background: none !important;}
    .input-border {width: 50% !important;}
    .main-text {width: 100%;}
}
/* ==================================================
                            ADAPTIVE 320 767
====================================================*/
@media only screen and (max-width: 949px){
    main {
        margin-left: -40px;
        margin-right: -40px;
    }
    .card-cont-main {flex-direction: column;}
    .input-border {width: 100% !important;}
    .input-text-cont {margin-top: 10px;}
    .main-text {width: 100%;}
}