.btn-show-all{
    display: none;
}

/* ==================================================
                            HEADER
====================================================*/
.container{
    width: 75%;
    margin: 64px auto 0 auto;
    background-color: var(--background-color);
}

.header{
    height: auto;
    width: 100%;
}

/* ==================================================
                            HEADER LEFT
====================================================*/
.header .left-part{
    flex-basis: 30%;
    height: 100%;
}

/* item box */
.header .left-part .header-item-box{
    width: 30%;
    height: 88px;
    border-radius: 13px;
    border: 1px solid var(--border-primary-color);
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

/* circle`s box */
.header .left-part .header-item-box .elipse-box{
    width: 40%;
    padding: 0 10%;
}

/* circle */
.header .left-part .header-item-box .elipse-box .circle-3{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}


/* ==================================================
                            HEADER CENTER
====================================================*/
.header .center-part{
    flex-basis: 30%;
    margin-top: -24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* star container */
.header .center-part .star-container{
    margin: -8px 0 8px 0;
}
.header .center-part .star-container i{
    color: var(--secondary-color);
}


/* ==================================================
                            HEADER RIGHT
====================================================*/
.header .right-part{
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end; 
}

/* CHECK BOX */
.header .right-part .check-box{
    width: auto;
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .right-part .check-box i{ color: var(--secondary-color);}

/* REVIEW BOX */
.header .right-part .reviews-box{ width: auto; height: 48px; }

.header .right-part .circle-border-text{
    height: 48px;
    width: 48px;
    border: 1px solid #581ADB;
    border-radius: 50%;
    color: #581ADB;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header .right-part .reviews-box .reviews-text{ text-align: center; margin: 0 16px 0 8px; }



/* ==================================================
                            HOTEL
====================================================*/
.Hotel{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 2%;
}
/* Image */
.image{
    height: auto;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 8px;
}
.main-im{
    width: 100%;
}
.im-cont{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}
.im-cont img{
    width: 100%;
}

/* descr */
.descr{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}
.descr .separator{
    flex-basis: 100%;
    height: 0px;
    border: 1px solid var(--border-primary-color);
    margin: 32px 0;
}
.prev-item{
    display: grid;
    grid-template-columns: 24px auto;
    gap: 8px;
    margin-right: 16px;
    margin-top: 16px;
    align-items: center;
}

.price{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 35%;
    gap: 16px;
    margin-bottom: 16px;
}
.price .Sub-title-primary{
    text-align: start;
}

.descr .btn-big-book{
    height: 72px;
    border-radius: 36px;
    font-size: 24px;
    font-weight: 700;
    color: var(--white-text-color);
    border: 2px solid var(--secondary-color);
    transition: transform 0.3s ease;
    flex-basis: 30%;
    width: 100%;
    align-self: center;
}

.btn-big-book:hover {
    transform: scale(1.03);
}



/* ==================================================
                            GUEST REVIEWS
====================================================*/

.Reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Reviews .flex-row-btw{
    width: 80%;
    align-items: start;
    text-align: center;
}

.Reviews .custom-svg {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
}
/* фоновое кольцо */
.bg-circle {
    fill: transparent;
    stroke: transparent;
    stroke-width: 4;
    stroke-dasharray: 251.2px;
    stroke-dashoffset: 0;
}
.progress-circle {
    fill: transparent;
    stroke: var(--secondary-color);
    stroke-width: 4;
    stroke-linecap: square;
    stroke-dasharray: 251.2px;
}
.circle-facil.progress-circle { stroke-dashoffset: 5px; }   /*9.8*/
.circle-staff.progress-circle { stroke-dashoffset: 53px; }  /*7.9*/
.circle-clean.progress-circle { stroke-dashoffset: 20px; }  /*9.2*/
.circle-comf.progress-circle { stroke-dashoffset: 13px; }  /*9.5*/
.circle-loc.progress-circle { stroke-dashoffset: 20px; }  /*9.2*/
.circle-val.progress-circle { stroke-dashoffset: 5px; }   /*9.8*/
/* test in circle */
text.percentage{
    fill: var(--secondary-color);
    font-size: 32px;
    font-weight: 600;
}


/* ==================================================
                            FACILITIES
====================================================*/

.Facilities .flex-row-btw{
    align-items: start;
}

.Facilities .column{
    flex-basis: 30%;
}

.Facilities .facility-block{
    margin: 24px 0;
}

.Facilities .facility-item{
    display: grid;
    grid-template-columns: 24px auto;
    gap: 8px;
}



/* ==================================================
                        IMPORTANT INFORMATION
====================================================*/
.imp-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}

/* ==================================================
                                BOOK
====================================================*/
.book-cont{
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}
.book-item{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    border: 1px solid var(--border-primary-color);
    border-radius: 14px;
}
/* IMAGE */
.book-item img.im-hotel{
    height: 207px;
    width: auto;
    align-self: center;
}

/* DESCRIPTION */
.book-item .descr{
    padding: 8px 0;
    display: flex;
    flex-direction: column;
}
.book-item .descr p.book-title{
    color: var(--black-color);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    margin-bottom: 8px;
    text-align: left;
}


.book-item .descr-3-item{
    display: grid;
    grid-template-columns: 24px 68px auto;
    gap: 8px;
    margin-bottom: 8px;
}

.book-item .prev-cont{
    display: flex;
    flex-wrap: wrap;
}
.book-item .descr .prev-item{
    display: grid;
    grid-template-columns: 24px auto;
    margin-right: 32px;
}

/* ORDER */
.book-item .order{
    display: grid;
    grid-auto-rows: min-content;
    gap: 16px;
    padding: 16px;
    align-self: center;
}

.book-price-cont p.book-price{
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
}




/* ==================================================
                                NEARBY
====================================================*/
.Nearby{
    width: 100%;
}
.Nearby .column{
    flex-basis: 25%;
    align-self: start;
}

.nearby-title-item{
    display: grid;
    grid-template-columns: 24px auto;
    gap: 8px;
    margin: 16px 0 8px 0;
}

.nearby-item{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
}


/* ==================================================
                                GOOGLE MAP
====================================================*/
.google-map{
    margin-top: 24px;
    width: 100%;
    height: 208px;
}


/* ==================================================
                                COMMENTS
====================================================*/
.com-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 208px;
    gap: 24px;
}

.comm-sep{
    width: 38%;
    margin: 32px auto 8px auto;
    border: 1px solid var(--border-primary-color);
}

.comm-more a{
    text-decoration: none;
}



/* ==================================================
                                FAQs
====================================================*/
.FAQ{
    margin-top: 64px;
    display: grid;
    grid-template-columns: 35% auto;
    gap: 32px;
}
.FAQ .faq-title{
    font-size: 128px;
    color: var(--border-primary-color);
}

.FAQ .details-item{
    width: 100%;
    padding: 8px;
    border: none;
    border-top: 1px solid var(--border-primary-color);
    border-bottom: 1px solid var(--border-primary-color);
    transition: max-height 0.5s ease;
}

.FAQ .details-item p{
    margin-top: 8px;
}
.FAQ .cust-icon{
    text-align: end;
    margin: 0;
    transition: rotate 0.5s ease;
}
.FAQ details[open] .cust-icon{
    rotate: 180deg;
    transition: 0.5s ease;
}