@media only screen and (min-width: 320px) and (max-width: 767px){

.btn-show-all{
    display: block;
    border: 1px solid var(--border-primary-color);
    border-radius: 30px;
    background-color: transparent;
    padding: 10px 24px;
    color: var(--primary-color);
    width: max-content;
    align-self: center;
}

/* ==================================================
                            HEADER
====================================================*/
.container{
    width: 95%;
    margin: 64px auto 0 auto;
}
.header{
    flex-wrap: wrap;
    padding:0px;
}

.header .left-part{
    order: 3;
    flex-basis: 100%;
}

.header .center-part{
    order: 1;
    flex-basis: 100%;
    margin-bottom: 24px;
}

.header .right-part{
    order: 2;
    flex-basis: 100%;
    margin-bottom: 24px;
    justify-content: center; 
}

/* ==================================================
                            HOTEL
====================================================*/
.Hotel{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2%;
}

.im-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: scroll;
}
.im-cont img{
    margin-right: 16px;
}

.price{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 16px;
}
.price p{
    text-align: center;
}
.price .prev-item{
    width: max-content;
    margin: 0 auto;
}



/* ==================================================
                            GUEST REVIEWS
====================================================*/
.Reviews .flex-row-btw{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.Reviews .flex-row-btw .flex-col-cent{
    flex-basis: 45%;
}

/* ==================================================
                            FACILITIES
====================================================*/
.Facilities{
    display: flex;
    flex-direction: column;
}
.Facilities .flex-row-btw{
    align-items: start;
    flex-wrap: wrap;
}
.Facilities .column{
    flex-basis: 45%;
}

/* hidden items*/
.Facilities .column:nth-child(1) .facility-block:nth-child(1) .facility-item{
    display: none;
}
.Facilities .column .facility-block{
    display: none;
}
.Facilities .column:nth-child(1) .facility-block:nth-child(1){
    display: block;
}
.Facilities .column:nth-child(1) .facility-block:nth-child(1) .facility-item:nth-child(1),
.Facilities .column:nth-child(1) .facility-block:nth-child(1) .facility-item:nth-child(2),
.Facilities .column:nth-child(1) .facility-block:nth-child(1) .facility-item:nth-child(3),
.Facilities .column:nth-child(1) .facility-block:nth-child(1) .facility-item:nth-child(4),
.Facilities .column:nth-child(1) .facility-block:nth-child(1) .facility-item:nth-child(5),
.Facilities .column:nth-child(1) .facility-block:nth-child(1) .facility-item:nth-child(6)
{
    display: grid;
}

.Facilities .column:nth-child(1) .facility-block:nth-child(3){
    display: block;
}

.Facilities .column:nth-child(2) .facility-block:nth-child(3){
    display: block;
}
.Facilities .column:nth-child(2) .facility-block:nth-child(5){
    display: block;
}




/* ==================================================
                                BOOK
====================================================*/
.book-cont{
    grid-template-columns: 1fr;
    gap: 32px;
}
.book-item{
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    border: 1px solid var(--border-primary-color);
    border-radius: 14px;
}
/* IMAGE */
.book-item img.im-hotel{
    width: 100%;
    align-self: center;
}

/* DESCRIPTION */
.book-item .descr{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.book-item .descr-3-item{
    display: grid;
    grid-template-columns: 24px 68px auto;
    gap: 8px;
    margin-top: 8px;
}

.book-item .prev-cont{
    display: flex;
    flex-wrap: wrap;
}
.book-item .descr .prev-item{
    display: grid;
    grid-template-columns: 24px auto;
    margin-right: 32px;
}

/* ORDER */
.book-item .order{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 0x;
    padding: 16px;
    align-self: center;
    align-items: last baseline;
    justify-items: center;
}

.book-price-cont p.simple-secondary-text{
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

.book-item .book-price-cont{
    order: 2;
    align-items: center;
    width: min-content;
}

/* ==================================================
                                NEARBY
====================================================*/
.Nearby{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Nearby .flex-row-btw{
    flex-wrap: wrap;
}
.Nearby .column{
    flex-basis: 100%;
    align-self: start;
}

.nearby-block{
    display: none;
}
.Nearby .column:nth-child(1) .nearby-block:nth-child(1){
    display: block;
}

.Nearby .btn-show-all{
    margin: 16px 0 0 0;
}

/* ==================================================
                                GOOGLE MAP
====================================================*/
.google-map{
    height: 240px;
}


/* ==================================================
                                COMMENTS
====================================================*/
.com-grid {
    grid-template-columns: repeat(1, 1fr);
}

.com-grid .Comment:nth-child(n + 4):nth-child(-n + 11) {
    display: none;
}

/* ==================================================
                                FAQs
====================================================*/
.FAQ{
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}
.FAQ .faq-title{
    font-size: 86px;
}

/* ==================================================
                                HOTELS
====================================================*/
.Hotels{
    overflow-x: scroll;
}


}